/* K2 - Magnific Popup Overrides */
.mfp-iframe-holder {
    padding: 10px;
}

.mfp-iframe-holder .mfp-content {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.mfp-iframe-scaler iframe {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: none;
}
.js-nolazy {
    border-radius: 5px;
}